<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.AnimalMapper">
    <insert id="insert">
    
    	<selectKey resultType="int" keyProperty="ano" order="BEFORE">
    		select ifnull(max(ano), 0) + 1 from animal
    	</selectKey>
    	insert into animal(name, gender, weight, type, age, owner)
    		values
    	(#{name}, #{gender}, #{weight}, #{type}, #{age}, #{owner})
    </insert>
    
    <select id="getList" resultType="com.petcare.web.domain.AnimalVo">
    	select * from animal
    </select>
    
    <delete id="delete">
    	delete from animal where ano = #{ano}
    </delete>
    
    <update id="update">
    	update animal
    	set name=#{name},
    	gender=#{gender},
    	weight=#{weight},
    	type=#{type},
    	age=#{age}
    	where ano = #{ano}
    </update>
    
    <select id="read" resultType="com.petcare.web.domain.AnimalVo">
    	select * from animal where ano = #{ano}
    </select>
    
    <select id="getListWithPaging" resultType="com.petcare.web.domain.AnimalVo">
    	select
    		ano, name, gender, weight, type, age, regdate, lastcare, owner
    	from animal
    	where ano > 0
    	order by ano desc
    	limit #{pageStart}, #{amount}
    </select>
    
    <select id="getTotalCount" resultType="int">
    	select count(*) from animal where ano > 0
    </select>
</mapper>