<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.AppointmentMapper">
	
	<sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">
				and a.user_id like concat('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'p'.toString()">
				and p.pet_name like concat('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
	<select id="getList" resultType="com.petcare.web.domain.AppointmentVo">
		select a.appt_no, a.pet_no, a.user_id, a.hospital_id, a.appt_date, a.appt_time, a.appt_note, a.appt_status, p.pet_name, u.user_phone
		from appointment a join pet p join user u
		where a.pet_no = p.pet_no and a.user_id = u.user_id
		<include refid="searchCondition"></include>
		order by appt_no asc
		limit #{pageStart}, #{amount}
	</select>
	
	<delete id="delete">
		delete from appointment where appt_no = #{apptNo}
	</delete>
	
	<update id="update">
		update appointment
		set appt_status=#{apptStatus}
		where appt_no = #{apptNo}
	</update>
	
	<select id="read" resultType="com.petcare.web.domain.AppointmentVo">
		select a.appt_no, a.pet_no, a.user_id, a.hospital_id, a.appt_date, a.appt_time, a.appt_note, a.appt_status, p.pet_name, u.user_phone
		from appointment a join pet p join user u
		where a.pet_no = p.pet_no and a.user_id = u.user_id and appt_no = #{apptNo}
	</select>
	
	<select id="getTotalCount" resultType="int">
    	select count(*)
		from appointment a join pet p join user u
		where a.pet_no = p.pet_no and a.user_id = u.user_id and appt_no > 0
    	<include refid="searchCondition"></include>
    </select>
</mapper>