<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.FaqMapper">
	<select id="faqList" resultType="com.petcare.web.domain.FaqVO">
		select * from faq ORDER BY faq_no DESC
	</select>
	<select id="view" resultType="com.petcare.web.domain.FaqVO">
		select * from faq where faq_no = #{faqNo}
	</select>
	<select id="modifyView" resultType="com.petcare.web.domain.FaqVO">
		select * from faq where faq_no = #{faqNo}
	</select>
	<insert id="insert">
		insert into faq (faq_title, faq_content, user_id, faq_regdate) VALUES (#{faqTitle}, #{faqContent}, #{userId}, now())
	</insert>
	<update id="update">
		update faq set faq_title = #{faqTitle}, faq_content = #{faqContent}, faq_regdate = now() where faq_no = #{faqNo}
	</update>
	<delete id="delete">
		delete from faq where faq_no = #{faqNo}
	</delete>
</mapper>