<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.HospitalMapper">
	
  <select id="listHospital" resultType="java.util.HashMap">
		SELECT *
		FROM HOSPITAL
	</select>
	
	<select id="searchHospital" parameterType="String" resultType="java.util.HashMap">
		SELECT *
		FROM HOSPITAL
		WHERE hospital_name = #{hospitalName} <!-- where 절 -->
	</select>
	
	<select id="viewHospital" parameterType="String" resultType="com.petcare.web.domain.HospitalVO">
		SELECT *
		FROM HOSPITAL
		WHERE hospital_id = #{hospitalId}
	</select>
	
	<insert id="register" parameterType="Hospital">
		INSERT INTO HOSPITAL(hospital_id
										, hospital_pw
										, hospital_name
										, hospital_address
										, hospital_phone
										, hospital_email
										, hospital_open
										, hospital_close
										, hospital_species
										, hospital_intro)
					VALUES(#{hospitalId}
										, #{hospitalPw}
										, #{hospitalName}
										, #{hospitalAddress}
										, #{hospitalPhone}
										, #{hospitalEmail}
										, #{hospitalOpen}
										, #{hospitalClose}
										, 'HOSPITAL'
										, #{hospitalIntro, jdbcType=VARCHAR})		
	</insert>
	
	<insert id="codeInsert" parameterType="Character">
		INSERT INTO H_CHARACTER(hospital_id, c_code)
			   VALUES(#{hospitalId}, #{cCode})							
	</insert>
	
	<select id="selectID" resultType="String">
		SELECT hospital_id
		FROM HOSPITAL
		WHERE hospital_id = #{hospitalId}
	</select>
	
	<select id="selectEmail" resultType="String">
		SELECT hospital_email
		FROM HOSPITAL
		WHERE hospital_email = #{hospitalEmail}
	</select>
	
	<select id="loginPro2" resultType="com.petcare.web.domain.Hospital">
		SELECT *
		FROM hospital
		WHERE hospital_id = #{hospitalId}
		AND hospital_pw = #{hospitalPw}
	</select>		
</mapper>