<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.ReserveMapper">
    <select id="getTime" resultType="java.lang.String">
        select now()
    </select>
    
    <select id="getAniList" resultType="com.petcare.web.dto.AnimalDTO">
    	select a.ano as ano, a.a_name as aName, a.a_type as aType from user_table u, animal_table a where a.id = u.id
    </select>
    
    <insert id="insertReserv" parameterType="com.petcare.web.dto.ReserveDTO">
    	insert into reserve_table (ano,id,hno,rdate,rtime,note) values (#{aNo}, #{id}, #{hNo},now(),now(),#{note})
    </insert>
    
    <select id="getReserv" resultType="com.petcare.web.dto.ReserveDTO">
    	select * from reserve_table
    </select>
    
</mapper>